:root {
  --page-background-color: #ffffff;
  --primery-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #404bbf;
  --primery-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --primary-font-size: 16px;
  --primary-line-height: 1.5;
  --primary-letter-spacing: 0.02em;
  --cornflower: #e7e9fc;
  --grey: rgba(46, 47, 66, 0.7);
  --white-color--: #f4f4fd;
  --color-link--:#4d5ae5;
  --secondary-link-color:#8e8f99;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.main-btn {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: var(--primery-font);
  color: var(--primery-text-color);
  background-color: var(--page-background-color);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* ==================COMPONENTS================= */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--color-link--);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

/* .before-link {
  display: block;
  content: "";
  width: 48px;
  height: 4px;
  flex-shrink: 0;
  border-radius: 2px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: -20px;
  
} */

.accent-logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo {
  color: var(--white-color--);
}

.list-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: var(--primary-letter-spacing);
  color: var(--secondary-text-color);
  margin-bottom: 8px;
}

.description-text {
  color: var(--primery-text-color);
  margin-bottom: 20px;
}

.footer-text {
  font-weight: 500;
  color: var(--page-background-color);
  display: flex;
  width: 264px;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: 16px;
}

.list-img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.social-link {
  margin-bottom: 24px;
  fill: var(--white-color--);
  width: 100%;
  height: 100%;
  background-color:var(--color-link--);
  border-color: var(--color-link--);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.social-icon {
  width: 24px;
  height: 24px;
}

.footer-div {
  align-items: baseline;
}

.footer-logo-div {
  margin-right: 120px;
}
/* ==================/COMPONENTS================ */
/* HEADER */
.menu-link {
  display: block;
  font-weight: 500;
  color: var(--secondary-text-color);
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.address {
  font-style: normal;
}

.menu-link-contact {
  font-style: normal;
  font-weight: 400;

  color: #434455;
}

.menu-link-contact:hover,
.menu-link-contact:focus {
  color: var(--accent-color);
}

.title-secondary {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--primary-letter-spacing);
}

/* ==============HEADER================ */
.page-header {
  padding: 24px 0;
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.address {
  display: flex;
  align-items: center;
}

.menu-contacts {
  display: flex;
  align-items: center;
  gap: 40px;
}
.menu-item {
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.mail-contact {
  margin-left: auto;
  margin-right: 40px;
}

/* ==============HERO================== */
.hero {
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--secondary-text-color);
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(var(--grey), var(--grey)),
    url(../images/background_img/backround_hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: var(--primary-letter-spacing);
  color: #ffffff;
  display: flex;
  max-width: 496px;
  flex-direction: column;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
}

.main-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--color-link--);
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  display: block;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  min-width: 169px;
  height: 56px;
  align-items: flex-start;
  gap: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.main-btn:hover,
.main-btn:focus {
  background: var(--accent-color);
}

/* ===============SOLUTIONS============== */
.section-solutions {
  display: flex;
}

.solutions-container {
  display: block;
  justify-content: center;
}

.div-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color:var(--white-color--);
  border-radius: 4px;
  margin-bottom: 8px;
  
  
}

.soulitions-list {
  display: flex;
}
.soulitions-list-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.soulitions-list-item:not(:last-child) {
  margin-right: 24px;
}

/* ==============WHAT WE DOING============= */
.section-our-works {
  padding-top: 0;
}

.title-works {
  margin-bottom: 72px;
}

.list-works {
  display: flex;
  gap: 24px;
}

/* ==============EMPLOYEES================ */
.team {
  color: var(--secondary-text-color);
  background-color: var(--white-color--);
  text-align: center;
  text-transform: capitalize;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.title-employees {
  margin-bottom: 72px;
}

.list-emploees {
  display: flex;
  gap: 24px;
}

.employees-card-content-wrapper {
  padding: 32px 16px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* ===============CUSTOMERS============= */
.customers-title {
  margin-bottom: 72px;
}

.list-customers {
  display: flex;
  gap: 24px;
  justify-content: center;
  justify-content: center;
}

.item-customers {
width: calc((100% - 120px) / 6);
height: 88px;
}

.customers-link {
width: 100%;
height: 100%;
border: 1px solid var(--secondary-link-color);
border-radius: 4px;
display: flex;
align-items: center;
justify-content: center;
color: var(--secondary-link-color);
}

.customers-link:hover,
.customers-link:focus {
border-color:var(--accent-color);
color: var(--accent-color);
}

.customers-icon {
  fill: currentColor;
}


/*================ FOOTER=============== */
.footer {
  background-color: var(--secondary-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

/* ++++++++++++P--0--R--T--F--L--I--O++++++++++++++++++++++ */

/* ========================HEADER==================== */

/* ========================MAIN==================== */

.section-filters {
  padding-top: 96px;
}

.button-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 72px;
  margin-right: auto;
  margin-left: auto;
}
.item-filter {
}

.button-filter {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  letter-spacing: 0.04em;
  color: var(--color-link--);
  background-color: var(--white-color--);
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--cornflower, #e7e9fc);
  padding: 12px 24px;
  min-width: auto;
  }

  
  
.gallary-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.gallery-project-link {
  display: block;

}

.gallery-project-link:hover,
.gallery-project-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.gallary-card-content-wrraper {
  padding: 32px 16px;
  border: 1px solid var(--cornflower, #e7e9fc);
  border-top: none;
}

.button-filter:hover,
.button-filter:focus {
  color: #ffffff;
  background: var(--accent-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12)
}

.progecrt-name {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: #2e2f42;
}

/* ==================FOOTER================= */
.footer-link {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-div {
  display: flex;
}

.social-media-div {
  margin-left: 120px;
}
